// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// variables.scss

// Paleta Turquesa Oscuro + Blanco + Negro + Grises
// src/styles/theme/variables.scss
$color-blanco: #ffffff !default;
$color-negro-carbon: #1a1a1a !default;
$color-turquesa-oscuro: #007D7B !default;
