ion-menu {
  --background: #ffffff;
}

ion-header {
  height: 10rem;
  div.bg {
    height: 10rem;
    background: #0d4d4d;
    transform: rotate(-15deg);
    width: 130%;
    border-radius: 10px 10px 10px 50px;
    margin-top: -3rem;
    margin-left: -1rem;
  }
  ion-item {
    --background: transparent;
    position: absolute;
    top: 1rem;
    left: 0;
    ion-avatar {
      height: 5rem;
      width: 5rem;
      border: 5px solid #ffffff;
      margin-right: 0.6rem;
    }
    ion-label {
      font-size: 1.5rem;
      font-weight: bold;
      width: auto;
      letter-spacing: 0.5px;
      color: #ffffff;

      p{
        margin-top: 2px;
        font-size: 0.8rem;
        font-weight: normal;
        ion-text{
        color: #ffffff;

        }

      }
    }
  }
}

ion-content {
  --background: #ffffff;
  .menu-items {
    letter-spacing: 0.5px;
    ion-icon {
      padding-right: 0.4rem;
      color: #0d4d4d;
    }
    ion-item {
      --background: #ffffff;

      border-left: 5px solid #fff;
      ion-label {
        font-size: 1rem;
        color: #0d4d4d;
      }
    }
    ion-item.selected {
      border-left: 5px solid #0d4d4d;
      ion-label {
        font-weight: bold;
      }
      ion-icon,
      ion-label {
        color: #0d4d4d;
      }
    }
  }
}

.md {
  .menu-items {
    ion-icon {
      margin-right: 1rem;
    }
  }
}
