.nivel-card {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background: #0d4d4d;/* Turquesa */
  color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  ion-card-content {
    text-align: center;
    padding: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}