.profesor-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  background: #ffffffd1;
  backdrop-filter: blur(6px);
}

.profesor-card:hover {
  transform: translateY(-4px);
}

.profesor-foto-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profesor-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profesor-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  color: white;
}

.profesor-overlay h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.experiencia {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
}

.profesor-content {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.85);
}

.materias-section {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 12px;
}

.profesor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.precio {
  font-weight: bold;
  color: #2c3e50;
}

.contactar-btn {
  --color: #3880ff;
  --padding-start: 0;
}

p{
  color:#0d4d4d;
}
